workflows/tubosa-bot/tool-ver-precio-lista.json
{"updatedAt":"2026-04-22T15:58:30.553Z","createdAt":"2026-04-20T22:16:20.231Z","id":"UfbJXSBJemLx7NfJ","name":"Tubosa - Tool Ver Precio Lista","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trig-precio","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,300],"parameters":{}},{"id":"http-precio","name":"Fetch Precios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"https://docs.google.com/spreadsheets/d/1G8wEi3bOLxzFKzm086op_tkvciQ7ZTA4METm4pP_g30/gviz/tq?tqx=out:json&gid=427774701&range=A2:S","options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"code-precio","name":"Buscar Precio","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const query = ($('Trigger').first().json.query || '').toString().trim();\nconst rawText = ($input.first().json.data || '').toString();\n\nfunction normalizeFractions(str) {\n  str = String(str || '');\n  // Primero fracciones mixtas: \"1 1/2\" antes que \"1/2\"\n  str = str.replace(/(\\d+)\\s+(\\d+)\\/(\\d+)/g, (_, w, n, d) => {\n    const v = Math.round((parseInt(w) + parseInt(n) / parseInt(d)) * 100);\n    return 'frac' + String(v).padStart(3, '0');\n  });\n  // Luego fracciones simples: \"1/2\"\n  str = str.replace(/(\\d+)\\/(\\d+)/g, (_, n, d) => {\n    const v = Math.round((parseInt(n) / parseInt(d)) * 100);\n    return 'frac' + String(v).padStart(3, '0');\n  });\n  return str;\n}\n\nfunction normalize(str) {\n  return normalizeFractions(str)\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet data;\ntry {\n  const jsonStr = rawText.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\n  data = JSON.parse(jsonStr);\n} catch(e) {\n  return [{ json: { response: '⚠️ Error parseando precios: ' + e.message } }];\n}\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim().replace(/\\s+/g, ' '));\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => { if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : ''; });\n    return obj;\n  })\n  .filter(r => r['Material']);\n\nconst normQuery = normalize(query);\nconst STOP = new Set(['de','el','la','los','las','un','una','en','con','del','por','que','al','se','psi']);\nconst tokens = normQuery.split(' ')\n  .filter(t => t.length >= 2 || /^\\d+$/.test(t))\n  .filter(t => !STOP.has(t));\n\nif (tokens.length === 0) {\n  return [{ json: { response: '❓ ¿De qué producto necesitas el precio?' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'] || '')) + ' ' + normalize(String(row['Descripcion'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  return { row, hits, score: hits / tokens.length };\n}).filter(r => r.hits > 0).sort((a, b) => b.score - a.score || b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `❌ No encontré precio para \"${query}\". ¿Puedes describirlo de otra forma?` } }];\n}\n\nconst threshold = scored[0].score * 0.75;\nconst candidates = scored.filter(r => r.score >= threshold);\n\nif (candidates.length > 3) {\n  const opts = candidates.slice(0, 6).map((r, i) => `${i+1}. ${r.row['Material']} — ${r.row['Descripcion']}`).join('\\n');\n  return [{ json: { response: `🔍 ${candidates.length} resultados con \"${query}\":\\n\\n${opts}\\n\\n¿Cuál necesitas?` } }];\n}\n\nconst lines = candidates.slice(0, 3).map(r => {\n  const d = r.row;\n  const precio = String(d['Precio Sin Iva'] || '').trim();\n  const precioNum = parseFloat(String(precio).replace(/\\./g, '').replace(',', '.'));\n  const precioText = precio && !isNaN(precioNum) && !String(precio).toLowerCase().includes('confirm')\n    ? `Bs. ${precioNum.toLocaleString('es-VE')}`\n    : '⚠️ Consultar con jefe de ventas';\n  const aaap = parseFloat(d['AAA+']);\n  const aaa  = parseFloat(d['AAA']);\n  const aa   = parseFloat(d['AA']);\n  const a    = parseFloat(d['A']);\n  const descParts = [\n    !isNaN(aaap) && `AAA+:${aaap}%`,\n    !isNaN(aaa)  && `AAA:${aaa}%`,\n    !isNaN(aa)   && `AA:${aa}%`,\n    !isNaN(a)    && `A:${a}%`\n  ].filter(Boolean);\n  return `💰 ${d['Material']} | ${d['Descripcion']}\\n  Lista (sin IVA): ${precioText}\\n  Descuentos: ${descParts.join(' | ')}`;\n});\n\nreturn [{ json: { response: lines.join('\\n\\n') } }];"}}],"connections":{"Trigger":{"main":[[{"node":"Fetch Precios","type":"main","index":0}]]},"Fetch Precios":{"main":[[{"node":"Buscar Precio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"dc83494f-d915-4c66-be2e-3a9bc9a4a5bf","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-04-20T22:16:20.231Z","createdAt":"2026-04-20T22:16:20.231Z","role":"workflow:owner","workflowId":"UfbJXSBJemLx7NfJ","projectId":"GTMkeDh0rh9mzHZx","project":{"updatedAt":"2025-12-16T16:38:45.949Z","createdAt":"2025-12-16T16:37:28.764Z","id":"GTMkeDh0rh9mzHZx","name":"Luis Gonzalez <luis.gonzalez@tubosa.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T16:37:28.764Z","createdAt":"2025-12-16T16:37:28.764Z","userId":"b3b4563c-b378-4158-8b36-e782fb43c1df","projectId":"GTMkeDh0rh9mzHZx","user":{"updatedAt":"2026-04-22T15:58:26.165Z","createdAt":"2025-12-16T16:37:28.764Z","id":"b3b4563c-b378-4158-8b36-e782fb43c1df","email":"luis.gonzalez@tubosa.com","firstName":"Luis","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T16:39:28.745Z","personalization_survey_n8n_version":"1.123.5","companyIndustryExtended":["manufacturing-industry"],"companySize":"500-999","companyType":"other","automationGoalSm":["lead-generation","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"youtube"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"F2ipp8XPwX5AQ6Dp","userActivated":true,"userActivatedAt":1773850434603,"npsSurvey":{"responded":true,"lastShownAt":1774468208068}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-22","isPending":false}}]}}],"tags":[],"activeVersion":null}