workflows/tubosa-bot/tool-ver-precio-lista.json
{"updatedAt":"2026-04-20T22:16:21.655Z","createdAt":"2026-04-20T22:16:20.231Z","id":"UfbJXSBJemLx7NfJ","name":"Tubosa - Tool Ver Precio Lista","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trig-precio","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,300],"parameters":{}},{"id":"http-precio","name":"Fetch Precios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"https://docs.google.com/spreadsheets/d/1UA7W5emR48SLSPQ0kgz7o6Z6g0moByHj7hIFRPMCKOs/gviz/tq?tqx=out:json&gid=1313468133&range=A2:K","options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"code-precio","name":"Buscar Precio","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const query = ($('Trigger').first().json.query || '').toString().trim();\nconst rawText = ($input.first().json.data || '').toString();\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet data;\ntry {\n  const jsonStr = rawText.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\n  data = JSON.parse(jsonStr);\n} catch(e) {\n  return [{ json: { response: '⚠️ Error parseando precios: ' + e.message + ' | Preview: ' + rawText.slice(0,100) } }];\n}\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim());\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => {\n      if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : '';\n    });\n    return obj;\n  })\n  .filter(r => r['Material']);\n\nconst normQuery = normalize(query);\nconst STOP = new Set(['de','el','la','los','las','un','una','en','con','del','por','que','al','se']);\nconst tokens = normQuery.split(' ')\n  .filter(t => t.length >= 2 || /^\\d+$/.test(t))\n  .filter(t => !STOP.has(t));\n\nif (tokens.length === 0) {\n  return [{ json: { response: '❓ ¿De qué producto necesitas el precio?' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'])) + ' ' + normalize(String(row['Descripcion'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  const score = hits / tokens.length;\n  return { row, hits, score };\n})\n.filter(r => r.hits > 0)\n.sort((a, b) => b.score !== a.score ? b.score - a.score : b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `❌ No encontré precio para \"${query}\".\\n¿Puedes describirlo de otra forma?` } }];\n}\n\nconst best = scored.filter(r => r.score >= scored[0].score * 0.8);\nconst candidates = best.length > 0 ? best : scored;\n\nif (candidates.length > 3) {\n  const opts = candidates.slice(0, 6)\n    .map((r, i) => `${i+1}. ${r.row['Material']} — ${r.row['Descripcion']}`).join('\\n');\n  return [{ json: { response: `🔍 Encontré ${candidates.length} productos con \"${query}\":\\n\\n${opts}\\n\\n¿Cuál necesitas? Indica el número o más detalles.` } }];\n}\n\nconst lines = candidates.slice(0, 3).map(r => {\n  const d = r.row;\n  const precio = String(d['Precio Sin Iva'] || '').trim();\n  const aaap = String(d['AAA+'] || '').trim();\n  const aaa  = String(d['AAA']  || '').trim();\n  const aa   = String(d['AA']   || '').trim();\n  const a    = String(d['A']    || '').trim();\n  const precioText = precio && !precio.toLowerCase().includes('confirmar')\n    ? `Bs. ${precio}` : '⚠️ Consultar con jefe de ventas';\n  const descParts = [aaap && `AAA+:${aaap}%`, aaa && `AAA:${aaa}%`, aa && `AA:${aa}%`, a && `A:${a}%`].filter(Boolean);\n  return `💰 ${d['Material']} | ${d['Descripcion']}\\n  Lista (sin IVA): ${precioText}\\n  Descuentos: ${descParts.join(' | ')}`;\n});\n\nreturn [{ json: { response: lines.join('\\n\\n') } }];"}}],"connections":{"Trigger":{"main":[[{"node":"Fetch Precios","type":"main","index":0}]]},"Fetch Precios":{"main":[[{"node":"Buscar Precio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"82420d78-6b43-4b7e-915a-eae2512e3a0b","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-04-20T22:16:20.231Z","createdAt":"2026-04-20T22:16:20.231Z","role":"workflow:owner","workflowId":"UfbJXSBJemLx7NfJ","projectId":"GTMkeDh0rh9mzHZx","project":{"updatedAt":"2025-12-16T16:38:45.949Z","createdAt":"2025-12-16T16:37:28.764Z","id":"GTMkeDh0rh9mzHZx","name":"Luis Gonzalez <luis.gonzalez@tubosa.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T16:37:28.764Z","createdAt":"2025-12-16T16:37:28.764Z","userId":"b3b4563c-b378-4158-8b36-e782fb43c1df","projectId":"GTMkeDh0rh9mzHZx","user":{"updatedAt":"2026-04-21T08:07:33.961Z","createdAt":"2025-12-16T16:37:28.764Z","id":"b3b4563c-b378-4158-8b36-e782fb43c1df","email":"luis.gonzalez@tubosa.com","firstName":"Luis","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T16:39:28.745Z","personalization_survey_n8n_version":"1.123.5","companyIndustryExtended":["manufacturing-industry"],"companySize":"500-999","companyType":"other","automationGoalSm":["lead-generation","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"youtube"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"F2ipp8XPwX5AQ6Dp","userActivated":true,"userActivatedAt":1773850434603,"npsSurvey":{"responded":true,"lastShownAt":1774468208068}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-21","isPending":false}}]}}],"tags":[],"activeVersion":null}