workflows/tubosa-bot/tool-buscar-productos.json
{"updatedAt":"2026-04-22T15:58:29.257Z","createdAt":"2026-04-20T22:16:19.262Z","id":"ogE5up7sCSCKBlvC","name":"Tubosa - Tool Buscar Productos","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trig-buscar","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,300],"parameters":{}},{"id":"http-buscar","name":"Fetch Inventario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"https://docs.google.com/spreadsheets/d/1UA7W5emR48SLSPQ0kgz7o6Z6g0moByHj7hIFRPMCKOs/gviz/tq?tqx=out:json&gid=1313468133","options":{"response":{"response":{"responseFormat":"text"}}}}},{"id":"code-buscar","name":"Buscar","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const query = ($('Trigger').first().json.query || '').toString().trim();\nconst rawText = ($input.first().json.data || '').toString();\n\nfunction normalizeFractions(str) {\n  str = String(str || '');\n  // Primero fracciones mixtas: \"1 1/2\" antes que \"1/2\"\n  str = str.replace(/(\\d+)\\s+(\\d+)\\/(\\d+)/g, (_, w, n, d) => {\n    const v = Math.round((parseInt(w) + parseInt(n) / parseInt(d)) * 100);\n    return 'frac' + String(v).padStart(3, '0');\n  });\n  // Luego fracciones simples: \"1/2\"\n  str = str.replace(/(\\d+)\\/(\\d+)/g, (_, n, d) => {\n    const v = Math.round((parseInt(n) / parseInt(d)) * 100);\n    return 'frac' + String(v).padStart(3, '0');\n  });\n  return str;\n}\n\nfunction normalize(str) {\n  return normalizeFractions(str)\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet data;\ntry {\n  const jsonStr = rawText.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\n  data = JSON.parse(jsonStr);\n} catch(e) {\n  return [{ json: { response: '⚠️ Error parseando inventario: ' + e.message } }];\n}\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim().replace(/\\s+/g, ' '));\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => { if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : ''; });\n    return obj;\n  })\n  .filter(r => r['Material'] || r['Texto breve de material']);\n\nconst normQuery = normalize(query);\nconst STOP = new Set(['de','el','la','los','las','un','una','en','con','del','por','que','al','se','psi']);\nconst tokens = normQuery.split(' ')\n  .filter(t => t.length >= 2 || /^\\d+$/.test(t))\n  .filter(t => !STOP.has(t));\n\nif (tokens.length === 0) {\n  return [{ json: { response: '❓ ¿Qué producto buscas? Indica nombre, tipo, medida o código.' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'] || '')) + ' ' + normalize(String(row['Texto breve de material'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  return { row, hits, score: hits / tokens.length };\n}).filter(r => r.hits > 0).sort((a, b) => b.score - a.score || b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `❌ No encontré con \"${query}\". Intenta: tipo, medida (1/2\", 3/4\", 4\") o código.` } }];\n}\n\nconst threshold = scored[0].score * 0.75;\nconst candidates = scored.filter(r => r.score >= threshold);\n\nif (candidates.length > 10) {\n  return [{ json: { response: `🔍 \"${query}\" tiene ${candidates.length} resultados. Especifica diámetro o tipo.` } }];\n}\n\nconst lines = candidates.slice(0, 8).map(r => {\n  const d = r.row;\n  const dispRaw = String(d['Inven Disp Unid'] || '0').trim();\n  const dispNum = parseFloat(dispRaw.replace(/\\./g, '').replace(',', '.')) || 0;\n  const boRaw = String(d['Unid Backorder Total'] || '0').trim();\n  const boNum = parseFloat(boRaw.replace(/\\./g, '').replace(',', '.')) || 0;\n  const stockIcon = dispNum > 0 ? '✅' : '❌';\n  const bo = boNum > 0 ? ` | BO: ${boRaw} uds` : '';\n  return `${d['Material']} | ${d['Texto breve de material']}\\n  ${stockIcon} Disp: ${dispRaw} uds${bo}`;\n});\n\nreturn [{ json: { response: `📦 \"${query}\" — ${candidates.length} resultado(s):\\n\\n${lines.join('\\n\\n')}` } }];"}}],"connections":{"Trigger":{"main":[[{"node":"Fetch Inventario","type":"main","index":0}]]},"Fetch Inventario":{"main":[[{"node":"Buscar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"133fc59f-0e36-4930-ab74-6e31cf43ac6c","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-04-20T22:16:19.262Z","createdAt":"2026-04-20T22:16:19.262Z","role":"workflow:owner","workflowId":"ogE5up7sCSCKBlvC","projectId":"GTMkeDh0rh9mzHZx","project":{"updatedAt":"2025-12-16T16:38:45.949Z","createdAt":"2025-12-16T16:37:28.764Z","id":"GTMkeDh0rh9mzHZx","name":"Luis Gonzalez <luis.gonzalez@tubosa.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T16:37:28.764Z","createdAt":"2025-12-16T16:37:28.764Z","userId":"b3b4563c-b378-4158-8b36-e782fb43c1df","projectId":"GTMkeDh0rh9mzHZx","user":{"updatedAt":"2026-04-22T15:58:26.165Z","createdAt":"2025-12-16T16:37:28.764Z","id":"b3b4563c-b378-4158-8b36-e782fb43c1df","email":"luis.gonzalez@tubosa.com","firstName":"Luis","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T16:39:28.745Z","personalization_survey_n8n_version":"1.123.5","companyIndustryExtended":["manufacturing-industry"],"companySize":"500-999","companyType":"other","automationGoalSm":["lead-generation","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"youtube"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"F2ipp8XPwX5AQ6Dp","userActivated":true,"userActivatedAt":1773850434603,"npsSurvey":{"responded":true,"lastShownAt":1774468208068}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-22","isPending":false}}]}}],"tags":[],"activeVersion":null}