workflows/tubosa-bot/workflow.json
{"updatedAt":"2026-04-20T22:16:55.004Z","createdAt":"2026-03-13T19:34:34.061Z","id":"F2ipp8XPwX5AQ6Dp","name":"Bot Tubosa - Consultas Comerciales v5","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"902522b1-426a-4472-ac48-735fdf749468","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[6592,1216],"webhookId":"tubosa-bot-main","credentials":{"telegramApi":{"id":"cNYD0tar0isiULdH","name":"Telegram account 2"}}},{"parameters":{"jsCode":"const upd = $input.first().json;\nlet chatId, text;\n\nif (upd.callback_query) {\n  chatId = upd.callback_query.message.chat.id;\n  text = upd.callback_query.data;\n} else if (upd.message) {\n  chatId = upd.message.chat.id;\n  text = (upd.message.text || '').trim();\n} else {\n  return [];\n}\n\nreturn [{ json: { sessionId: String(chatId), chatId: String(chatId), text } }];"},"id":"38efc661-d4b3-4913-b24d-c7cd56c2d39e","name":"Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[6800,1216]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Eres el asistente comercial de Tubosa, empresa venezolana fabricante de tuberías y accesorios PVC.\n\n══════════════════════════════\nREGLA #1 — LA MÁS IMPORTANTE:\nCuando uses un tool, tu respuesta ES el texto que devuelve el tool. Cópialo textualmente. NADA más.\n\nEJEMPLO CORRECTO — si el tool devuelve:\n📦 \"tapón 1/2\" — 2 resultado(s):\nT-123 | TAPÓN SOLDADO 1/2 CPVC | 450 uds ✅\nT-124 | TAPÓN ROSCADO 1/2 CPVC | sin stock ❌\n\nTú envías exactamente eso. Sin agregar \"El inventario muestra...\", \"Aquí los resultados...\", \"Está disponible...\", ni NINGUNA frase tuya.\n\nEJEMPLO INCORRECTO (PROHIBIDO):\n\"El inventario para el producto X está disponible. Si necesitas más detalles...\"\nEso es INCORRECTO. El usuario necesita los números, no una paráfrasis.\n══════════════════════════════\n\nCUÁNDO USAR CADA TOOL:\n1. buscar_productos → cuando pidan inventario, stock, cuántas piezas hay, o buscar un producto\n2. ver_precio_lista → cuando pidan el precio de un producto\n\nCUÁNDO NO USAR TOOLS:\n3. Si preguntan descuentos de una línea → responde con los % de la tabla de abajo\n4. Saludos o preguntas generales → responde naturalmente\n\nREGLAS ADICIONALES:\n- NUNCA inventes precios, stocks ni descuentos\n- NUNCA muestres precios por categoría (AAA+, AAA, AA, A)\n- Responde en español, amigable y directo\n- Si el tool devuelve una pregunta de aclaración (ej: ¿Cuál necesitas?), transmítela al usuario exactamente como está\n\nTABLA DE DESCUENTOS 2025 (solo para cuando pregunten descuentos de una línea):\nTUBERIA SANITARIA: AAA=71%, AA=69%, A=67%\nTUBERIA PRESION EXTR LISO: AAA=70.5%, AA=68.5%, A=66.5%\nTUBERIA CONDUIT: AAA=65%, AA=63%, A=61%\nTUBERIA ULTRACONDUIT: AAA=63%, AA=61%, A=59%\nTUBERIA ULTRACPVC: AAA=65%, AA=63%, A=61%\nACCESORIOS PRESION: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS SANITARIA: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS CPVC: AAA=70%, AA=68%, A=66%\nACCESORIOS CONDUIT: AAA=68%, AA=66%, A=64%\nSOLDADURA Y LIMPIADOR: AAA=67%, AA=65%, A=63%\nSOLDADURA COLOR: AAA=67%, AA=65%, A=63%\nLUBRICANTE: AAA=36%, AA=34%, A=32%\nADHESIVO EPOXICO: AAA=57%, AA=55%, A=53%\nUNION MECANICA 2-6\": AAA=56%, AA=54%, A=52%\nUNION MECANICA 8-16\": AAA=56%, AA=54%, A=52%\nALCANTARILLADO RS4: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS4 GD: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS8: AAA=70%, AA=68%, A=66%\nALCANTARILLADO RS8 GD: AAA=70%, AA=68%, A=66%\nULTRAFORT RIEGO: AAA=65%, AA=63%, A=61%\nULTRAFORT RIEGO GD: AAA=68%, AA=66%, A=64%\nACCESORIOS ALCANTARILLADO: AAA=70%, AA=68%, A=66%\nDUCTOS TDP 3\": AAA=65%, AA=63%, A=61%\nDUCTOS TDP 4\": AAA=64%, AA=62%, A=60%\nDUCTOS TDP 6\": AAA=64%, AA=62%, A=60%\nDUCTOS DB/EB x3-6mt: AAA=65%, AA=63%, A=61%\nCUBIERTAS 2.5MM: AAA=68%, AA=66%, A=64%\nCUBIERTAS 2.3MM: AAA=67%, AA=65%, A=63%\nCUBIERTAS 2MM: AAA=65%, AA=63%, A=61%\nCUBIERTAS 1.7MM: AAA=67%, AA=65%, A=63%\nSET DE FIJACION: AAA=50%, AA=48%, A=46%\nCABALLETE: AAA=50%, AA=48%, A=46%\nRIEGO C.LISA RDE21: AAA=67%, AA=65%, A=63%\nRIEGO C.LISA RDE51/41: AAA=64%, AA=62%, A=60%\nRIEGO VENTANAS 6\": AAA=72%, AA=70%, A=68%\nRIEGO VENTANAS 8\": AAA=79%, AA=77%, A=75%\nRIEGO VENTANAS 10\": AAA=74%, AA=72%, A=70%\nREVEST POZO CIEGO: AAA=57%, AA=55%, A=53%\nREVEST POZO FILTRO: AAA=45%, AA=43%, A=41%\nCOLUMNA POZO 1 1/4\": AAA=67%, AA=65%, A=63%\nCOLUMNA POZO 1 1/2-6\": AAA=73%, AA=71%, A=69%\nKIT ADAPT 1 1/4-1 1/2\": AAA=40%, AA=38%, A=36%\nKIT ADAPT 2-6\": AAA=55%, AA=53%, A=51%\nGUARDA MOTOR 1 1/4-1 1/2\": AAA=33%, AA=31%, A=29%\nGUARDA MOTOR 2-6\": AAA=50%, AA=48%, A=46%\nELEVADOR EXTRAC POZO: AAA=26%, AA=24%, A=22%\nPara AAA+: consultar con jefe de ventas."}},"id":"af3dc790-282b-4c6e-badf-4cb351066931","name":"Agente IA","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[7024,1216]},{"parameters":{"model":"gpt-4o","options":{}},"id":"e9203c35-4dce-4d78-bd2b-26eb37fdfb1c","name":"OpenAI GPT-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[6928,1408],"credentials":{"openAiApi":{"id":"H9fEsQq5kGztwbzW","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalizar').first().json.sessionId }}","contextWindowLength":10},"id":"99767051-fc3a-4209-99b7-65b32af0ab7d","name":"Memoria Conversacion","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[7072,1408]},{"parameters":{"name":"buscar_productos","description":"Busca productos en el catálogo de Tubosa por nombre, descripción, código o medida (ej: \"codo 3/4 presion\", \"tubería sanitaria 4 pulgadas\"). Devuelve la respuesta formateada lista para enviar al usuario sin modificar.","workflowId":{"__rl":true,"value":"ogE5up7sCSCKBlvC","mode":"id"},"workflowInputs":{"schema":[{"key":"query","type":"string","description":"Descripción o nombre del producto a buscar"}],"value":{"query":"={{ $fromAI(\"query\", \"Descripción del producto a buscar\") }}"}}},"id":"388f8a9a-33c5-4d1c-91fe-cb5e7ca981e4","name":"Tool Buscar Productos","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[7200,1408]},{"parameters":{"name":"ver_precio_lista","description":"Obtiene el precio de lista (sin IVA) de un producto por nombre, código o medida. Si hay varios similares pregunta cuál. Devuelve la respuesta formateada lista para enviar al usuario sin modificar.","workflowId":{"__rl":true,"value":"UfbJXSBJemLx7NfJ","mode":"id"},"workflowInputs":{"schema":[{"key":"query","type":"string","description":"Nombre o código del producto del que se quiere el precio"}],"value":{"query":"={{ $fromAI(\"query\", \"Nombre o código del producto\") }}"}}},"id":"d391a779-d5af-41cc-9fa9-a137d058ceed","name":"Tool Ver Precio Lista","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[7344,1408]},{"parameters":{"chatId":"={{ $('Normalizar').first().json.chatId }}","text":"={{ $json.output }}","additionalFields":{}},"id":"4fa38e1f-d00b-40bb-86ae-32856df70c24","name":"Enviar Respuesta IA","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7248,1216],"webhookId":"7df61bef-dbdc-4cbe-afde-95742628fb72","credentials":{"telegramApi":{"id":"cNYD0tar0isiULdH","name":"Telegram account 2"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Normalizar","type":"main","index":0}]]},"Normalizar":{"main":[[{"node":"Agente IA","type":"main","index":0}]]},"Agente IA":{"main":[[{"node":"Enviar Respuesta IA","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"Agente IA","type":"ai_languageModel","index":0}]]},"Memoria Conversacion":{"ai_memory":[[{"node":"Agente IA","type":"ai_memory","index":0}]]},"Tool Buscar Productos":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Tool Ver Precio Lista":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00d2bf19-90bb-4e7b-bb9e-d2b8ce3989cf","activeVersionId":"00d2bf19-90bb-4e7b-bb9e-d2b8ce3989cf","versionCounter":31,"triggerCount":1,"shared":[{"updatedAt":"2026-03-13T19:34:34.061Z","createdAt":"2026-03-13T19:34:34.061Z","role":"workflow:owner","workflowId":"F2ipp8XPwX5AQ6Dp","projectId":"GTMkeDh0rh9mzHZx","project":{"updatedAt":"2025-12-16T16:38:45.949Z","createdAt":"2025-12-16T16:37:28.764Z","id":"GTMkeDh0rh9mzHZx","name":"Luis Gonzalez <luis.gonzalez@tubosa.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T16:37:28.764Z","createdAt":"2025-12-16T16:37:28.764Z","userId":"b3b4563c-b378-4158-8b36-e782fb43c1df","projectId":"GTMkeDh0rh9mzHZx","user":{"updatedAt":"2026-04-21T08:07:33.961Z","createdAt":"2025-12-16T16:37:28.764Z","id":"b3b4563c-b378-4158-8b36-e782fb43c1df","email":"luis.gonzalez@tubosa.com","firstName":"Luis","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T16:39:28.745Z","personalization_survey_n8n_version":"1.123.5","companyIndustryExtended":["manufacturing-industry"],"companySize":"500-999","companyType":"other","automationGoalSm":["lead-generation","reporting","data-syncing"],"role":"sales-and-marketing","reportedSource":"youtube"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"F2ipp8XPwX5AQ6Dp","userActivated":true,"userActivatedAt":1773850434603,"npsSurvey":{"responded":true,"lastShownAt":1774468208068}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-20T22:16:55.009Z","createdAt":"2026-04-20T22:16:55.009Z","versionId":"00d2bf19-90bb-4e7b-bb9e-d2b8ce3989cf","workflowId":"F2ipp8XPwX5AQ6Dp","nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"902522b1-426a-4472-ac48-735fdf749468","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[6592,1216],"webhookId":"tubosa-bot-main","credentials":{"telegramApi":{"id":"cNYD0tar0isiULdH","name":"Telegram account 2"}}},{"parameters":{"jsCode":"const upd = $input.first().json;\nlet chatId, text;\n\nif (upd.callback_query) {\n  chatId = upd.callback_query.message.chat.id;\n  text = upd.callback_query.data;\n} else if (upd.message) {\n  chatId = upd.message.chat.id;\n  text = (upd.message.text || '').trim();\n} else {\n  return [];\n}\n\nreturn [{ json: { sessionId: String(chatId), chatId: String(chatId), text } }];"},"id":"38efc661-d4b3-4913-b24d-c7cd56c2d39e","name":"Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[6800,1216]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Eres el asistente comercial de Tubosa, empresa venezolana fabricante de tuberías y accesorios PVC.\n\n══════════════════════════════\nREGLA #1 — LA MÁS IMPORTANTE:\nCuando uses un tool, tu respuesta ES el texto que devuelve el tool. Cópialo textualmente. NADA más.\n\nEJEMPLO CORRECTO — si el tool devuelve:\n📦 \"tapón 1/2\" — 2 resultado(s):\nT-123 | TAPÓN SOLDADO 1/2 CPVC | 450 uds ✅\nT-124 | TAPÓN ROSCADO 1/2 CPVC | sin stock ❌\n\nTú envías exactamente eso. Sin agregar \"El inventario muestra...\", \"Aquí los resultados...\", \"Está disponible...\", ni NINGUNA frase tuya.\n\nEJEMPLO INCORRECTO (PROHIBIDO):\n\"El inventario para el producto X está disponible. Si necesitas más detalles...\"\nEso es INCORRECTO. El usuario necesita los números, no una paráfrasis.\n══════════════════════════════\n\nCUÁNDO USAR CADA TOOL:\n1. buscar_productos → cuando pidan inventario, stock, cuántas piezas hay, o buscar un producto\n2. ver_precio_lista → cuando pidan el precio de un producto\n\nCUÁNDO NO USAR TOOLS:\n3. Si preguntan descuentos de una línea → responde con los % de la tabla de abajo\n4. Saludos o preguntas generales → responde naturalmente\n\nREGLAS ADICIONALES:\n- NUNCA inventes precios, stocks ni descuentos\n- NUNCA muestres precios por categoría (AAA+, AAA, AA, A)\n- Responde en español, amigable y directo\n- Si el tool devuelve una pregunta de aclaración (ej: ¿Cuál necesitas?), transmítela al usuario exactamente como está\n\nTABLA DE DESCUENTOS 2025 (solo para cuando pregunten descuentos de una línea):\nTUBERIA SANITARIA: AAA=71%, AA=69%, A=67%\nTUBERIA PRESION EXTR LISO: AAA=70.5%, AA=68.5%, A=66.5%\nTUBERIA CONDUIT: AAA=65%, AA=63%, A=61%\nTUBERIA ULTRACONDUIT: AAA=63%, AA=61%, A=59%\nTUBERIA ULTRACPVC: AAA=65%, AA=63%, A=61%\nACCESORIOS PRESION: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS SANITARIA: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS CPVC: AAA=70%, AA=68%, A=66%\nACCESORIOS CONDUIT: AAA=68%, AA=66%, A=64%\nSOLDADURA Y LIMPIADOR: AAA=67%, AA=65%, A=63%\nSOLDADURA COLOR: AAA=67%, AA=65%, A=63%\nLUBRICANTE: AAA=36%, AA=34%, A=32%\nADHESIVO EPOXICO: AAA=57%, AA=55%, A=53%\nUNION MECANICA 2-6\": AAA=56%, AA=54%, A=52%\nUNION MECANICA 8-16\": AAA=56%, AA=54%, A=52%\nALCANTARILLADO RS4: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS4 GD: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS8: AAA=70%, AA=68%, A=66%\nALCANTARILLADO RS8 GD: AAA=70%, AA=68%, A=66%\nULTRAFORT RIEGO: AAA=65%, AA=63%, A=61%\nULTRAFORT RIEGO GD: AAA=68%, AA=66%, A=64%\nACCESORIOS ALCANTARILLADO: AAA=70%, AA=68%, A=66%\nDUCTOS TDP 3\": AAA=65%, AA=63%, A=61%\nDUCTOS TDP 4\": AAA=64%, AA=62%, A=60%\nDUCTOS TDP 6\": AAA=64%, AA=62%, A=60%\nDUCTOS DB/EB x3-6mt: AAA=65%, AA=63%, A=61%\nCUBIERTAS 2.5MM: AAA=68%, AA=66%, A=64%\nCUBIERTAS 2.3MM: AAA=67%, AA=65%, A=63%\nCUBIERTAS 2MM: AAA=65%, AA=63%, A=61%\nCUBIERTAS 1.7MM: AAA=67%, AA=65%, A=63%\nSET DE FIJACION: AAA=50%, AA=48%, A=46%\nCABALLETE: AAA=50%, AA=48%, A=46%\nRIEGO C.LISA RDE21: AAA=67%, AA=65%, A=63%\nRIEGO C.LISA RDE51/41: AAA=64%, AA=62%, A=60%\nRIEGO VENTANAS 6\": AAA=72%, AA=70%, A=68%\nRIEGO VENTANAS 8\": AAA=79%, AA=77%, A=75%\nRIEGO VENTANAS 10\": AAA=74%, AA=72%, A=70%\nREVEST POZO CIEGO: AAA=57%, AA=55%, A=53%\nREVEST POZO FILTRO: AAA=45%, AA=43%, A=41%\nCOLUMNA POZO 1 1/4\": AAA=67%, AA=65%, A=63%\nCOLUMNA POZO 1 1/2-6\": AAA=73%, AA=71%, A=69%\nKIT ADAPT 1 1/4-1 1/2\": AAA=40%, AA=38%, A=36%\nKIT ADAPT 2-6\": AAA=55%, AA=53%, A=51%\nGUARDA MOTOR 1 1/4-1 1/2\": AAA=33%, AA=31%, A=29%\nGUARDA MOTOR 2-6\": AAA=50%, AA=48%, A=46%\nELEVADOR EXTRAC POZO: AAA=26%, AA=24%, A=22%\nPara AAA+: consultar con jefe de ventas."}},"id":"af3dc790-282b-4c6e-badf-4cb351066931","name":"Agente IA","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[7024,1216]},{"parameters":{"model":"gpt-4o","options":{}},"id":"e9203c35-4dce-4d78-bd2b-26eb37fdfb1c","name":"OpenAI GPT-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[6928,1408],"credentials":{"openAiApi":{"id":"H9fEsQq5kGztwbzW","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalizar').first().json.sessionId }}","contextWindowLength":10},"id":"99767051-fc3a-4209-99b7-65b32af0ab7d","name":"Memoria Conversacion","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[7072,1408]},{"parameters":{"name":"buscar_productos","description":"Busca productos en el catálogo de Tubosa por nombre, descripción, código o medida (ej: \"codo 3/4 presion\", \"tubería sanitaria 4 pulgadas\"). Devuelve la respuesta formateada lista para enviar al usuario sin modificar.","workflowId":{"__rl":true,"value":"ogE5up7sCSCKBlvC","mode":"id"},"workflowInputs":{"schema":[{"key":"query","type":"string","description":"Descripción o nombre del producto a buscar"}],"value":{"query":"={{ $fromAI(\"query\", \"Descripción del producto a buscar\") }}"}}},"id":"388f8a9a-33c5-4d1c-91fe-cb5e7ca981e4","name":"Tool Buscar Productos","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[7200,1408]},{"parameters":{"name":"ver_precio_lista","description":"Obtiene el precio de lista (sin IVA) de un producto por nombre, código o medida. Si hay varios similares pregunta cuál. Devuelve la respuesta formateada lista para enviar al usuario sin modificar.","workflowId":{"__rl":true,"value":"UfbJXSBJemLx7NfJ","mode":"id"},"workflowInputs":{"schema":[{"key":"query","type":"string","description":"Nombre o código del producto del que se quiere el precio"}],"value":{"query":"={{ $fromAI(\"query\", \"Nombre o código del producto\") }}"}}},"id":"d391a779-d5af-41cc-9fa9-a137d058ceed","name":"Tool Ver Precio Lista","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[7344,1408]},{"parameters":{"chatId":"={{ $('Normalizar').first().json.chatId }}","text":"={{ $json.output }}","additionalFields":{}},"id":"4fa38e1f-d00b-40bb-86ae-32856df70c24","name":"Enviar Respuesta IA","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7248,1216],"webhookId":"7df61bef-dbdc-4cbe-afde-95742628fb72","credentials":{"telegramApi":{"id":"cNYD0tar0isiULdH","name":"Telegram account 2"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Normalizar","type":"main","index":0}]]},"Normalizar":{"main":[[{"node":"Agente IA","type":"main","index":0}]]},"Agente IA":{"main":[[{"node":"Enviar Respuesta IA","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"Agente IA","type":"ai_languageModel","index":0}]]},"Memoria Conversacion":{"ai_memory":[[{"node":"Agente IA","type":"ai_memory","index":0}]]},"Tool Buscar Productos":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Tool Ver Precio Lista":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]}},"authors":"Luis Gonzalez","name":null,"description":null}}