workflows/tubosa-bot/workflow.json
{
  "updatedAt": "2026-04-17T22:10:27.612Z",
  "createdAt": "2026-03-13T19:34:34.061Z",
  "id": "F2ipp8XPwX5AQ6Dp",
  "name": "Bot Tubosa - Consultas Comerciales v5",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "902522b1-426a-4472-ac48-735fdf749468",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        6592,
        1216
      ],
      "webhookId": "tubosa-bot-main",
      "credentials": {
        "telegramApi": {
          "id": "cNYD0tar0isiULdH",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const upd = $input.first().json;\nlet chatId, text;\n\nif (upd.callback_query) {\n  chatId = upd.callback_query.message.chat.id;\n  text = upd.callback_query.data;\n} else if (upd.message) {\n  chatId = upd.message.chat.id;\n  text = (upd.message.text || '').trim();\n} else {\n  return [];\n}\n\nreturn [{ json: { sessionId: String(chatId), chatId: String(chatId), text } }];"
      },
      "id": "38efc661-d4b3-4913-b24d-c7cd56c2d39e",
      "name": "Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6800,
        1216
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres el asistente comercial de Tubosa, empresa venezolana fabricante de tuberías y accesorios PVC.\n\n══════════════════════════════\nREGLA #1 — LA MÁS IMPORTANTE:\nCuando uses un tool, tu respuesta ES el texto que devuelve el tool. Cópialo textualmente. NADA más.\n\nEJEMPLO CORRECTO — si el tool devuelve:\n📦 \"tapón 1/2\" — 2 resultado(s):\nT-123 | TAPÓN SOLDADO 1/2 CPVC | 450 uds ✅\nT-124 | TAPÓN ROSCADO 1/2 CPVC | sin stock ❌\n\nTú envías exactamente eso. Sin agregar \"El inventario muestra...\", \"Aquí los resultados...\", \"Está disponible...\", ni NINGUNA frase tuya.\n\nEJEMPLO INCORRECTO (PROHIBIDO):\n\"El inventario para el producto X está disponible. Si necesitas más detalles...\"\nEso es INCORRECTO. El usuario necesita los números, no una paráfrasis.\n══════════════════════════════\n\nCUÁNDO USAR CADA TOOL:\n1. buscar_productos → cuando pidan inventario, stock, cuántas piezas hay, o buscar un producto\n2. ver_precio_lista → cuando pidan el precio de un producto\n\nCUÁNDO NO USAR TOOLS:\n3. Si preguntan descuentos de una línea → responde con los % de la tabla de abajo\n4. Saludos o preguntas generales → responde naturalmente\n\nREGLAS ADICIONALES:\n- NUNCA inventes precios, stocks ni descuentos\n- NUNCA muestres precios por categoría (AAA+, AAA, AA, A)\n- Responde en español, amigable y directo\n- Si el tool devuelve una pregunta de aclaración (ej: ¿Cuál necesitas?), transmítela al usuario exactamente como está\n\nTABLA DE DESCUENTOS 2025 (solo para cuando pregunten descuentos de una línea):\nTUBERIA SANITARIA: AAA=71%, AA=69%, A=67%\nTUBERIA PRESION EXTR LISO: AAA=70.5%, AA=68.5%, A=66.5%\nTUBERIA CONDUIT: AAA=65%, AA=63%, A=61%\nTUBERIA ULTRACONDUIT: AAA=63%, AA=61%, A=59%\nTUBERIA ULTRACPVC: AAA=65%, AA=63%, A=61%\nACCESORIOS PRESION: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS SANITARIA: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS CPVC: AAA=70%, AA=68%, A=66%\nACCESORIOS CONDUIT: AAA=68%, AA=66%, A=64%\nSOLDADURA Y LIMPIADOR: AAA=67%, AA=65%, A=63%\nSOLDADURA COLOR: AAA=67%, AA=65%, A=63%\nLUBRICANTE: AAA=36%, AA=34%, A=32%\nADHESIVO EPOXICO: AAA=57%, AA=55%, A=53%\nUNION MECANICA 2-6\": AAA=56%, AA=54%, A=52%\nUNION MECANICA 8-16\": AAA=56%, AA=54%, A=52%\nALCANTARILLADO RS4: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS4 GD: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS8: AAA=70%, AA=68%, A=66%\nALCANTARILLADO RS8 GD: AAA=70%, AA=68%, A=66%\nULTRAFORT RIEGO: AAA=65%, AA=63%, A=61%\nULTRAFORT RIEGO GD: AAA=68%, AA=66%, A=64%\nACCESORIOS ALCANTARILLADO: AAA=70%, AA=68%, A=66%\nDUCTOS TDP 3\": AAA=65%, AA=63%, A=61%\nDUCTOS TDP 4\": AAA=64%, AA=62%, A=60%\nDUCTOS TDP 6\": AAA=64%, AA=62%, A=60%\nDUCTOS DB/EB x3-6mt: AAA=65%, AA=63%, A=61%\nCUBIERTAS 2.5MM: AAA=68%, AA=66%, A=64%\nCUBIERTAS 2.3MM: AAA=67%, AA=65%, A=63%\nCUBIERTAS 2MM: AAA=65%, AA=63%, A=61%\nCUBIERTAS 1.7MM: AAA=67%, AA=65%, A=63%\nSET DE FIJACION: AAA=50%, AA=48%, A=46%\nCABALLETE: AAA=50%, AA=48%, A=46%\nRIEGO C.LISA RDE21: AAA=67%, AA=65%, A=63%\nRIEGO C.LISA RDE51/41: AAA=64%, AA=62%, A=60%\nRIEGO VENTANAS 6\": AAA=72%, AA=70%, A=68%\nRIEGO VENTANAS 8\": AAA=79%, AA=77%, A=75%\nRIEGO VENTANAS 10\": AAA=74%, AA=72%, A=70%\nREVEST POZO CIEGO: AAA=57%, AA=55%, A=53%\nREVEST POZO FILTRO: AAA=45%, AA=43%, A=41%\nCOLUMNA POZO 1 1/4\": AAA=67%, AA=65%, A=63%\nCOLUMNA POZO 1 1/2-6\": AAA=73%, AA=71%, A=69%\nKIT ADAPT 1 1/4-1 1/2\": AAA=40%, AA=38%, A=36%\nKIT ADAPT 2-6\": AAA=55%, AA=53%, A=51%\nGUARDA MOTOR 1 1/4-1 1/2\": AAA=33%, AA=31%, A=29%\nGUARDA MOTOR 2-6\": AAA=50%, AA=48%, A=46%\nELEVADOR EXTRAC POZO: AAA=26%, AA=24%, A=22%\nPara AAA+: consultar con jefe de ventas."
        }
      },
      "id": "af3dc790-282b-4c6e-badf-4cb351066931",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        7024,
        1216
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "e9203c35-4dce-4d78-bd2b-26eb37fdfb1c",
      "name": "OpenAI GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        6928,
        1408
      ],
      "credentials": {
        "openAiApi": {
          "id": "H9fEsQq5kGztwbzW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalizar').first().json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "99767051-fc3a-4209-99b7-65b32af0ab7d",
      "name": "Memoria Conversacion",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        7072,
        1408
      ]
    },
    {
      "parameters": {
        "name": "buscar_productos",
        "description": "Busca productos en el inventario de Tubosa. Acepta busquedas parciales o aproximadas por nombre, descripcion o codigo. Devuelve stock disponible y backorder. Si hay demasiados resultados pide mas detalle.",
        "jsCode": "const query = ($input.first().json.query || '').toString().trim();\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst url = 'https://docs.google.com/spreadsheets/d/1G8wEi3bOLxzFKzm086op_tkvciQ7ZTA4METm4pP_g30/gviz/tq?tqx=out:json&gid=427774701';\n\nlet data;\ntry {\n  const res = await $helpers.httpRequest({ method: 'GET', url, returnFullResponse: true });\n  const text = typeof res === 'string' ? res : (res.body || JSON.stringify(res));\n  const jsonStr = text.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\n  data = JSON.parse(jsonStr);\n} catch(e) {\n  return [{ json: { response: '⚠️ Error al conectar con el inventario: ' + e.message } }];\n}\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim());\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => {\n      if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : '';\n    });\n    return obj;\n  })\n  .filter(r => r['Material']);\n\nconst normQuery = normalize(query);\nconst tokens = normQuery.split(' ').filter(t => t.length >= 2);\n\nif (tokens.length === 0) {\n  return [{ json: { response: '❓ ¿Qué producto buscas? Indica el nombre, tipo o código.' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'])) + ' ' + normalize(String(row['Texto breve de material'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  return { row, hits };\n}).filter(r => r.hits > 0).sort((a, b) => b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `❌ No encontré productos con \"${query}\".\\nIntenta con otro término: tipo, diámetro o código del producto.` } }];\n}\n\nconst exact = scored.filter(r => r.hits === tokens.length);\nconst candidates = exact.length > 0 ? exact : scored;\n\nif (candidates.length > 8) {\n  return [{ json: { response: `🔍 \"${query}\" tiene ${candidates.length} resultados. ¿Puedes ser más específico? Indica diámetro, tipo de tubería o código.` } }];\n}\n\nconst lines = candidates.slice(0, 8).map(r => {\n  const d = r.row;\n  const dispRaw = String(d['Inven Disp Unid'] || '0').trim();\n  const dispNum = parseFloat(dispRaw.replace(/\\./g, '').replace(',', '.')) || 0;\n  const boRaw = String(d['Unid Backorder Total'] || '0').trim();\n  const boNum = parseFloat(boRaw.replace(/\\./g, '').replace(',', '.')) || 0;\n  const stockIcon = dispNum > 0 ? '✅' : '❌';\n  const bo = boNum > 0 ? ` | BO: ${boRaw} uds` : '';\n  return `${d['Material']} | ${d['Texto breve de material']}\\n  ${stockIcon} Disp: ${dispRaw} uds${bo}`;\n});\n\nreturn [{ json: { response: `📦 \"${query}\" — ${candidates.length} resultado(s):\\n\\n${lines.join('\\n\\n')}` } }];"
      },
      "id": "388f8a9a-33c5-4d1c-91fe-cb5e7ca981e4",
      "name": "Tool Buscar Productos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        7200,
        1408
      ]
    },
    {
      "parameters": {
        "name": "ver_precio_lista",
        "description": "Obtiene el precio de lista (sin IVA) y descuentos de un producto. Acepta busquedas parciales. Si hay varios productos similares devuelve una lista para que el usuario elija.",
        "jsCode": "const query = ($input.first().json.query || '').toString().trim();\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst url = 'https://docs.google.com/spreadsheets/d/1UA7W5emR48SLSPQ0kgz7o6Z6g0moByHj7hIFRPMCKOs/gviz/tq?tqx=out:json&gid=1313468133&range=A2:K';\n\nlet data;\ntry {\n  const res = await $helpers.httpRequest({ method: 'GET', url, returnFullResponse: true });\n  const text = typeof res === 'string' ? res : (res.body || JSON.stringify(res));\n  const jsonStr = text.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\n  data = JSON.parse(jsonStr);\n} catch(e) {\n  return [{ json: { response: '⚠️ Error al conectar con la lista de precios: ' + e.message } }];\n}\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim());\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => {\n      if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : '';\n    });\n    return obj;\n  })\n  .filter(r => r['Material']);\n\nconst normQuery = normalize(query);\nconst tokens = normQuery.split(' ').filter(t => t.length >= 2);\n\nif (tokens.length === 0) {\n  return [{ json: { response: '❓ ¿De qué producto necesitas el precio?' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'])) + ' ' + normalize(String(row['Descripcion'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  return { row, hits };\n}).filter(r => r.hits > 0).sort((a, b) => b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `❌ No encontré precio para \"${query}\".\\n¿Puedes describirlo de otra forma?` } }];\n}\n\nconst exact = scored.filter(r => r.hits === tokens.length);\nconst candidates = exact.length > 0 ? exact : scored;\n\nif (candidates.length > 3) {\n  const opts = candidates.slice(0, 6)\n    .map((r, i) => `${i+1}. ${r.row['Material']} — ${r.row['Descripcion']}`).join('\\n');\n  return [{ json: { response: `🔍 Encontré ${candidates.length} productos con \"${query}\":\\n\\n${opts}\\n\\n¿Cuál necesitas? Indica el número o más detalles.` } }];\n}\n\nconst lines = candidates.slice(0, 3).map(r => {\n  const d = r.row;\n  const precio = String(d['Precio Sin Iva'] || '').trim();\n  const aaap = String(d['AAA+'] || '').trim();\n  const aaa = String(d['AAA'] || '').trim();\n  const aa = String(d['AA'] || '').trim();\n  const a = String(d['A'] || '').trim();\n  const precioText = precio && !precio.toLowerCase().includes('confirmar')\n    ? `Bs. ${precio}` : '⚠️ Consultar con jefe de ventas';\n  const descParts = [aaap && `AAA+:${aaap}%`, aaa && `AAA:${aaa}%`, aa && `AA:${aa}%`, a && `A:${a}%`].filter(Boolean);\n  return `💰 ${d['Material']} | ${d['Descripcion']}\\n  Lista (sin IVA): ${precioText}\\n  Descuentos: ${descParts.join(' | ')}`;\n});\n\nreturn [{ json: { response: lines.join('\\n\\n') } }];"
      },
      "id": "d391a779-d5af-41cc-9fa9-a137d058ceed",
      "name": "Tool Ver Precio Lista",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        7344,
        1408
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalizar').first().json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "4fa38e1f-d00b-40bb-86ae-32856df70c24",
      "name": "Enviar Respuesta IA",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7248,
        1216
      ],
      "webhookId": "7df61bef-dbdc-4cbe-afde-95742628fb72",
      "credentials": {
        "telegramApi": {
          "id": "cNYD0tar0isiULdH",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Enviar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Conversacion": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool Buscar Productos": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Ver Precio Lista": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c6563fb1-0686-4952-ad5d-aa52f3a12653",
  "activeVersionId": "c6563fb1-0686-4952-ad5d-aa52f3a12653",
  "versionCounter": 27,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T19:34:34.061Z",
      "createdAt": "2026-03-13T19:34:34.061Z",
      "role": "workflow:owner",
      "workflowId": "F2ipp8XPwX5AQ6Dp",
      "projectId": "GTMkeDh0rh9mzHZx",
      "project": {
        "updatedAt": "2025-12-16T16:38:45.949Z",
        "createdAt": "2025-12-16T16:37:28.764Z",
        "id": "GTMkeDh0rh9mzHZx",
        "name": "Luis Gonzalez <luis.gonzalez@tubosa.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T16:37:28.764Z",
            "createdAt": "2025-12-16T16:37:28.764Z",
            "userId": "b3b4563c-b378-4158-8b36-e782fb43c1df",
            "projectId": "GTMkeDh0rh9mzHZx",
            "user": {
              "updatedAt": "2026-04-20T16:31:36.219Z",
              "createdAt": "2025-12-16T16:37:28.764Z",
              "id": "b3b4563c-b378-4158-8b36-e782fb43c1df",
              "email": "luis.gonzalez@tubosa.com",
              "firstName": "Luis",
              "lastName": "Gonzalez",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-16T16:39:28.745Z",
                "personalization_survey_n8n_version": "1.123.5",
                "companyIndustryExtended": [
                  "manufacturing-industry"
                ],
                "companySize": "500-999",
                "companyType": "other",
                "automationGoalSm": [
                  "lead-generation",
                  "reporting",
                  "data-syncing"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "youtube"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "F2ipp8XPwX5AQ6Dp",
                "userActivated": true,
                "userActivatedAt": 1773850434603,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1774468208068
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-17T22:10:27.609Z",
    "createdAt": "2026-04-17T22:10:27.609Z",
    "versionId": "c6563fb1-0686-4952-ad5d-aa52f3a12653",
    "workflowId": "F2ipp8XPwX5AQ6Dp",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "id": "902522b1-426a-4472-ac48-735fdf749468",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          6592,
          1216
        ],
        "webhookId": "tubosa-bot-main",
        "credentials": {
          "telegramApi": {
            "id": "cNYD0tar0isiULdH",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const upd = $input.first().json;\nlet chatId, text;\n\nif (upd.callback_query) {\n  chatId = upd.callback_query.message.chat.id;\n  text = upd.callback_query.data;\n} else if (upd.message) {\n  chatId = upd.message.chat.id;\n  text = (upd.message.text || '').trim();\n} else {\n  return [];\n}\n\nreturn [{ json: { sessionId: String(chatId), chatId: String(chatId), text } }];"
        },
        "id": "38efc661-d4b3-4913-b24d-c7cd56c2d39e",
        "name": "Normalizar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6800,
          1216
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.text }}",
          "options": {
            "systemMessage": "Eres el asistente comercial de Tubosa, empresa venezolana fabricante de tuberías y accesorios PVC.\n\n══════════════════════════════\nREGLA #1 — LA MÁS IMPORTANTE:\nCuando uses un tool, tu respuesta ES el texto que devuelve el tool. Cópialo textualmente. NADA más.\n\nEJEMPLO CORRECTO — si el tool devuelve:\n📦 \"tapón 1/2\" — 2 resultado(s):\nT-123 | TAPÓN SOLDADO 1/2 CPVC | 450 uds ✅\nT-124 | TAPÓN ROSCADO 1/2 CPVC | sin stock ❌\n\nTú envías exactamente eso. Sin agregar \"El inventario muestra...\", \"Aquí los resultados...\", \"Está disponible...\", ni NINGUNA frase tuya.\n\nEJEMPLO INCORRECTO (PROHIBIDO):\n\"El inventario para el producto X está disponible. Si necesitas más detalles...\"\nEso es INCORRECTO. El usuario necesita los números, no una paráfrasis.\n══════════════════════════════\n\nCUÁNDO USAR CADA TOOL:\n1. buscar_productos → cuando pidan inventario, stock, cuántas piezas hay, o buscar un producto\n2. ver_precio_lista → cuando pidan el precio de un producto\n\nCUÁNDO NO USAR TOOLS:\n3. Si preguntan descuentos de una línea → responde con los % de la tabla de abajo\n4. Saludos o preguntas generales → responde naturalmente\n\nREGLAS ADICIONALES:\n- NUNCA inventes precios, stocks ni descuentos\n- NUNCA muestres precios por categoría (AAA+, AAA, AA, A)\n- Responde en español, amigable y directo\n- Si el tool devuelve una pregunta de aclaración (ej: ¿Cuál necesitas?), transmítela al usuario exactamente como está\n\nTABLA DE DESCUENTOS 2025 (solo para cuando pregunten descuentos de una línea):\nTUBERIA SANITARIA: AAA=71%, AA=69%, A=67%\nTUBERIA PRESION EXTR LISO: AAA=70.5%, AA=68.5%, A=66.5%\nTUBERIA CONDUIT: AAA=65%, AA=63%, A=61%\nTUBERIA ULTRACONDUIT: AAA=63%, AA=61%, A=59%\nTUBERIA ULTRACPVC: AAA=65%, AA=63%, A=61%\nACCESORIOS PRESION: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS SANITARIA: AAA=71.5%, AA=69.5%, A=67.5%\nACCESORIOS CPVC: AAA=70%, AA=68%, A=66%\nACCESORIOS CONDUIT: AAA=68%, AA=66%, A=64%\nSOLDADURA Y LIMPIADOR: AAA=67%, AA=65%, A=63%\nSOLDADURA COLOR: AAA=67%, AA=65%, A=63%\nLUBRICANTE: AAA=36%, AA=34%, A=32%\nADHESIVO EPOXICO: AAA=57%, AA=55%, A=53%\nUNION MECANICA 2-6\": AAA=56%, AA=54%, A=52%\nUNION MECANICA 8-16\": AAA=56%, AA=54%, A=52%\nALCANTARILLADO RS4: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS4 GD: AAA=72%, AA=70%, A=68%\nALCANTARILLADO RS8: AAA=70%, AA=68%, A=66%\nALCANTARILLADO RS8 GD: AAA=70%, AA=68%, A=66%\nULTRAFORT RIEGO: AAA=65%, AA=63%, A=61%\nULTRAFORT RIEGO GD: AAA=68%, AA=66%, A=64%\nACCESORIOS ALCANTARILLADO: AAA=70%, AA=68%, A=66%\nDUCTOS TDP 3\": AAA=65%, AA=63%, A=61%\nDUCTOS TDP 4\": AAA=64%, AA=62%, A=60%\nDUCTOS TDP 6\": AAA=64%, AA=62%, A=60%\nDUCTOS DB/EB x3-6mt: AAA=65%, AA=63%, A=61%\nCUBIERTAS 2.5MM: AAA=68%, AA=66%, A=64%\nCUBIERTAS 2.3MM: AAA=67%, AA=65%, A=63%\nCUBIERTAS 2MM: AAA=65%, AA=63%, A=61%\nCUBIERTAS 1.7MM: AAA=67%, AA=65%, A=63%\nSET DE FIJACION: AAA=50%, AA=48%, A=46%\nCABALLETE: AAA=50%, AA=48%, A=46%\nRIEGO C.LISA RDE21: AAA=67%, AA=65%, A=63%\nRIEGO C.LISA RDE51/41: AAA=64%, AA=62%, A=60%\nRIEGO VENTANAS 6\": AAA=72%, AA=70%, A=68%\nRIEGO VENTANAS 8\": AAA=79%, AA=77%, A=75%\nRIEGO VENTANAS 10\": AAA=74%, AA=72%, A=70%\nREVEST POZO CIEGO: AAA=57%, AA=55%, A=53%\nREVEST POZO FILTRO: AAA=45%, AA=43%, A=41%\nCOLUMNA POZO 1 1/4\": AAA=67%, AA=65%, A=63%\nCOLUMNA POZO 1 1/2-6\": AAA=73%, AA=71%, A=69%\nKIT ADAPT 1 1/4-1 1/2\": AAA=40%, AA=38%, A=36%\nKIT ADAPT 2-6\": AAA=55%, AA=53%, A=51%\nGUARDA MOTOR 1 1/4-1 1/2\": AAA=33%, AA=31%, A=29%\nGUARDA MOTOR 2-6\": AAA=50%, AA=48%, A=46%\nELEVADOR EXTRAC POZO: AAA=26%, AA=24%, A=22%\nPara AAA+: consultar con jefe de ventas."
          }
        },
        "id": "af3dc790-282b-4c6e-badf-4cb351066931",
        "name": "Agente IA",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          7024,
          1216
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "e9203c35-4dce-4d78-bd2b-26eb37fdfb1c",
        "name": "OpenAI GPT-4o-mini",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          6928,
          1408
        ],
        "credentials": {
          "openAiApi": {
            "id": "H9fEsQq5kGztwbzW",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Normalizar').first().json.sessionId }}",
          "contextWindowLength": 10
        },
        "id": "99767051-fc3a-4209-99b7-65b32af0ab7d",
        "name": "Memoria Conversacion",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          7072,
          1408
        ]
      },
      {
        "parameters": {
          "name": "buscar_productos",
          "description": "Busca productos en el inventario de Tubosa. Acepta busquedas parciales o aproximadas por nombre, descripcion o codigo. Devuelve stock disponible y backorder. Si hay demasiados resultados pide mas detalle.",
          "jsCode": "const query = ($input.first().json.query || '').toString().trim();\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst url = 'https://docs.google.com/spreadsheets/d/1G8wEi3bOLxzFKzm086op_tkvciQ7ZTA4METm4pP_g30/gviz/tq?tqx=out:json&gid=427774701';\nconst res = await fetch(url);\nconst text = await res.text();\nconst jsonStr = text.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\nconst data = JSON.parse(jsonStr);\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim());\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => {\n      if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : '';\n    });\n    return obj;\n  })\n  .filter(r => r['Material']);\n\nconst normQuery = normalize(query);\nconst tokens = normQuery.split(' ').filter(t => t.length >= 2);\n\nif (tokens.length === 0) {\n  return [{ json: { response: '\\u2753 \\u00bfQu\\u00e9 producto buscas? Indica el nombre, tipo o c\\u00f3digo.' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'])) + ' ' + normalize(String(row['Texto breve de material'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  return { row, hits };\n}).filter(r => r.hits > 0).sort((a, b) => b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `\\u274c No encontr\\u00e9 productos con \"${query}\".\\nIntenta con otro t\\u00e9rmino: tipo, di\\u00e1metro o c\\u00f3digo del producto.` } }];\n}\n\nconst exact = scored.filter(r => r.hits === tokens.length);\nconst candidates = exact.length > 0 ? exact : scored;\n\nif (candidates.length > 8) {\n  return [{ json: { response: `\\U0001f50d \"${query}\" tiene ${candidates.length} resultados. \\u00bfPuedes ser m\\u00e1s espec\\u00edfico? Indica di\\u00e1metro, tipo de tuber\\u00eda o c\\u00f3digo.` } }];\n}\n\nconst lines = candidates.slice(0, 8).map(r => {\n  const d = r.row;\n  const dispRaw = String(d['Inven Disp Unid'] || '0').trim();\n  const dispNum = parseFloat(dispRaw.replace(/\\./g, '').replace(',', '.')) || 0;\n  const boRaw = String(d['Unid Backorder Total'] || '0').trim();\n  const boNum = parseFloat(boRaw.replace(/\\./g, '').replace(',', '.')) || 0;\n  const stockIcon = dispNum > 0 ? '\\u2705' : '\\u274c';\n  const bo = boNum > 0 ? ` | BO: ${boRaw} uds` : '';\n  return `${d['Material']} | ${d['Texto breve de material']}\\n  ${stockIcon} Disp: ${dispRaw} uds${bo}`;\n});\n\nreturn [{ json: { response: `\\U0001f4e6 \"${query}\" \\u2014 ${candidates.length} resultado(s):\\n\\n${lines.join('\\n\\n')}` } }];\n"
        },
        "id": "388f8a9a-33c5-4d1c-91fe-cb5e7ca981e4",
        "name": "Tool Buscar Productos",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.1,
        "position": [
          7200,
          1408
        ]
      },
      {
        "parameters": {
          "name": "ver_precio_lista",
          "description": "Obtiene el precio de lista (sin IVA) y descuentos de un producto. Acepta busquedas parciales. Si hay varios productos similares devuelve una lista para que el usuario elija.",
          "jsCode": "const query = ($input.first().json.query || '').toString().trim();\n\nfunction normalize(str) {\n  return String(str || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst url = 'https://docs.google.com/spreadsheets/d/1UA7W5emR48SLSPQ0kgz7o6Z6g0moByHj7hIFRPMCKOs/gviz/tq?tqx=out:json&gid=1313468133&range=A2:K';\nconst res = await fetch(url);\nconst text = await res.text();\nconst jsonStr = text.replace(/^[^(]+\\(/, '').replace(/\\);?\\s*$/, '');\nconst data = JSON.parse(jsonStr);\n\nconst cols = data.table.cols.map(c => (c.label || c.id || '').trim());\nconst rows = (data.table.rows || [])\n  .map(row => {\n    const obj = {};\n    (row.c || []).forEach((cell, i) => {\n      if (cols[i]) obj[cols[i]] = cell && cell.v !== null ? cell.v : '';\n    });\n    return obj;\n  })\n  .filter(r => r['Material']);\n\nconst normQuery = normalize(query);\nconst tokens = normQuery.split(' ').filter(t => t.length >= 2);\n\nif (tokens.length === 0) {\n  return [{ json: { response: '\\u2753 \\u00bfDe qu\\u00e9 producto necesitas el precio?' } }];\n}\n\nconst scored = rows.map(row => {\n  const combined = normalize(String(row['Material'])) + ' ' + normalize(String(row['Descripcion'] || ''));\n  const hits = tokens.filter(t => combined.includes(t)).length;\n  return { row, hits };\n}).filter(r => r.hits > 0).sort((a, b) => b.hits - a.hits);\n\nif (scored.length === 0) {\n  return [{ json: { response: `\\u274c No encontr\\u00e9 precio para \"${query}\".\\n\\u00bfPuedes describirlo de otra forma?` } }];\n}\n\nconst exact = scored.filter(r => r.hits === tokens.length);\nconst candidates = exact.length > 0 ? exact : scored;\n\nif (candidates.length > 3) {\n  const opts = candidates.slice(0, 6)\n    .map((r, i) => `${i+1}. ${r.row['Material']} \\u2014 ${r.row['Descripcion']}`).join('\\n');\n  return [{ json: { response: `\\U0001f50d Encontr\\u00e9 ${candidates.length} productos con \"${query}\":\\n\\n${opts}\\n\\n\\u00bfCu\\u00e1l necesitas? Indica el n\\u00famero o m\\u00e1s detalles.` } }];\n}\n\nconst lines = candidates.slice(0, 3).map(r => {\n  const d = r.row;\n  const precio = String(d['Precio Sin Iva'] || '').trim();\n  const aaap = String(d['AAA+'] || '').trim();\n  const aaa = String(d['AAA'] || '').trim();\n  const aa = String(d['AA'] || '').trim();\n  const a = String(d['A'] || '').trim();\n  const precioText = precio && !precio.toLowerCase().includes('confirmar')\n    ? `Bs. ${precio}` : '\\u26a0\\ufe0f Consultar con jefe de ventas';\n  const descParts = [aaap && `AAA+:${aaap}%`, aaa && `AAA:${aaa}%`, aa && `AA:${aa}%`, a && `A:${a}%`].filter(Boolean);\n  return `\\U0001f4b0 ${d['Material']} | ${d['Descripcion']}\\n  Lista (sin IVA): ${precioText}\\n  Descuentos: ${descParts.join(' | ')}`;\n});\n\nreturn [{ json: { response: lines.join('\\n\\n') } }];\n"
        },
        "id": "d391a779-d5af-41cc-9fa9-a137d058ceed",
        "name": "Tool Ver Precio Lista",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.1,
        "position": [
          7344,
          1408
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Normalizar').first().json.chatId }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "id": "4fa38e1f-d00b-40bb-86ae-32856df70c24",
        "name": "Enviar Respuesta IA",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          7248,
          1216
        ],
        "webhookId": "7df61bef-dbdc-4cbe-afde-95742628fb72",
        "credentials": {
          "telegramApi": {
            "id": "cNYD0tar0isiULdH",
            "name": "Telegram account 2"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Normalizar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar": {
        "main": [
          [
            {
              "node": "Agente IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente IA": {
        "main": [
          [
            {
              "node": "Enviar Respuesta IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI GPT-4o-mini": {
        "ai_languageModel": [
          [
            {
              "node": "Agente IA",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memoria Conversacion": {
        "ai_memory": [
          [
            {
              "node": "Agente IA",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Tool Buscar Productos": {
        "ai_tool": [
          [
            {
              "node": "Agente IA",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool Ver Precio Lista": {
        "ai_tool": [
          [
            {
              "node": "Agente IA",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Luis Gonzalez",
    "name": null,
    "description": null
  }
}